$primary-blu: #368FE9;
$general-background:  #FAFAFA;
$gray-1: #D4D4D4;
$primary-fff: #fff;
$primary-pink: #F17578;
$green: #00b4aa;
$gray-2: #B2B2B2;
$gray-3: #727272;
$dark-1: #808080;
$dark-2: #4D4D4D;
$white-1: #E5E5E5;
$white-2: #F2F2F2;
$white-3: #EDEDED;
$yellow: #FFDD36;
$general-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 1px 1px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
$buttons-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);