@import "variables";
/*
* Footes css rules
 */

.footer-container{
  background-color: $dark-2;
  padding-bottom: 10px;
  .copyright{
    color: $dark-1;
  }
}
.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  .footer-item{
    h4{
      color: $dark-1;
      margin-bottom: 20px;
      font-weight: 400;
    }
    a, p{
      color: $primary-fff;
    }
    li{
      margin-bottom: 15px;
    }
    i{
      background-color: $primary-fff;
      border-radius: 100%;
      padding: 5px 8px;
      color: $dark-2;
    }
  }
}