@import "variables";
/*
* Navbar css rules
 */

.navigation{
  //box-shadow: $general-box-shadow;
  border: $border;
  background-color: $green;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .menu{
    li{
      padding: 20px 0;
      margin: 0 20px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
    }
    a{
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: $primary-fff;
      cursor: pointer;

    }
    li:hover, li:active{
      padding-bottom: 17px;
      border-bottom: 3px solid $primary-blu;
      a{
        color: $dark-2;
      }
    }
  }
  .social-links{
    li:last-child{
      padding-right: 0;
    }
  }
}