@import "variables";
/*
* Products css rules
 */
.products{
  margin-top: 50px;
  .applied-filters{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .category-filters{
    .filter-results{
      color: $dark-1;
      font-size: 16px;
      margin-bottom: 5px;
    }
    li{
      margin-bottom: 10px;
      &:first-child{
        padding-left: 0;
      }
      p{
        padding: 5px;
        background-color: $gray-3;
        color: $primary-fff;
        border-radius: 2px;
      }
    }
  }
  .price-filter{
    margin-bottom: 5px;
    .dropdown-toggle{
      display: flex;
      justify-content: space-between;
      height: 40px;
      font-size: 18px;
      width: 144px;
      border: 0;
    }

  }
  .products-list{
    padding: 32px;
    //box-shadow: $general-box-shadow;
    border: $border;
    border-radius: 2px;

    background-color: $primary-fff;
    .products-list-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .products-list__logo{
      display: flex;
      align-items: flex-start;
      p{
        margin-left: 17px;
      }
    }
    .products-list__category{
      font-size: 16px;
      color: $gray-2;
    }
    .products-list__rating{
      p{
        color: $gray-2;
      }
    }
  }
  .pagination{
    display: flex;
    justify-content: center;
    .pagination{
      a {
        background-color: $white-3;
        color: $dark-1;
        border-radius: 2px;
        border: 0;
        &:hover, &:active {
          background-color: $primary-blu;
          color: $primary-fff;
        }
      }
      li{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
